/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* 
#003F77  #6693BC  #5C5756  #938970  #E0DDC5
#CCDDE8  #E0EBFF  #EDFDFF  #CCE8E4  #E0FFF2
 */
 @font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  src: local('Cabin Regular'), local('Cabin-Regular'), url(http://themes.googleusercontent.com/static/fonts/cabin/v5/JEgmtEDzc-IH8jBshQXrYA.woff) format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 600;
  src: local('Cabin SemiBold'), local('Cabin-SemiBold'), url(http://themes.googleusercontent.com/static/fonts/cabin/v5/bSicyj3YibVhVPhGZyWVI_esZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Cabin';
  font-style: italic;
  font-weight: 400;
  src: local('Cabin Italic'), local('Cabin-Italic'), url(http://themes.googleusercontent.com/static/fonts/cabin/v5/jZSwn9gMgsQpyndNljYDIw.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff');
}
.flashContent { width:100%; height:100%; }
#sect_ftr a {
font-size:16px;font-family:'Source Sans Pro';color:#ffffff;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
#sect_ftr a:visited {
font-size:16px;font-family:'Source Sans Pro';color:#ffffff;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
#sect_ftrv a:hover {
font-size:16px;font-family:'Source Sans Pro';color:#6693BC ;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
.eres_p1 {
  font-size:18px;font-family:'Source Sans Pro';color:#ffffff;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
.eres_p2 {
font-size:16px;font-family:'Source Sans Pro';color:#938970;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
.eres_p3 {
font-size:16px;font-family:Cabin;color:#6693bc;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
.sect_cont {
    max-width: 960px;
    margin: 0 auto;
    padding: 8px;
}
.sect_caption {
  text-align: center;
}
#sect_vid {
    background: #E0DDC5;
    height: 576px;
}
#vid {
    height: 405px;
    width: 720px;
    background-color: #E0DDC5;
    margin: 16px auto 16px auto;
}
#sect_cta {
    background: #FFFFFF;
}
#sect_fet {
    background: #E0DDC5;
    height: 700;
}
#sect_crc {
    background: #FFFFFF;
}
#sect_tsm {
    background: #ffffff;
    height: 576px;
}
#sect_mob {
    background: #ffffff;
    text-align: center;
}
#sect_ftr {
    height: 144px;
    text-align: center;
}

#img_hand {
    background: url(../img/hand.png) no-repeat; 
    height: 48px;
    width: 208px;
    float: right;
}

#cta_cont { 
    height: 176px;
    width: 176px;
    margin: 0 auto;
}
#cmd_cta {
    position:relative;   
    top:-48px;
    cursor:pointer;
}
#cmd_cta_side {
    position: fixed;
    top: 112px;
    right: -96px;
    z-index: 112;
    cursor:pointer;
}
#crc_cont {
    width: 696px;
    margin: 0 auto;
    padding: 4px;
}

.scrollpos{
    position: fixed;
    z-index: 100;
    background: #ffffff;
    top: 400;
    right: 0;

display: none !important;
visibility: hidden;
}
/*
 * SFDC W2L
 */
*:focus {outline: none;}

.contact_form h2, .contact_form label {
font-size:16px;font-family:'Source Sans Pro';color:#938970;background-color:transparent;font-weight:normal;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;
}
.form_hint, .required_notification {font-size: 11px;}
:-moz-placeholder {
    color: #EDBA08;
}
.contact_form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#938970; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}
.contact_form ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.contact_form li{
    padding:12px; 
    border-bottom:1px solid #C2BAA2;
    position:relative;
}
::-webkit-input-placeholder {
    color: #EDBA08;
}

.contact_form label {
    width:96px;
    margin-top: 2px;
    display:inline-block;
    float:left;
    padding:2px;
}
.contact_form input {
    height:32px; 
    width:208px; 
    padding:2px 4px;
}
.contact_form textarea {padding:4px; width:208px;}
.contact_form button {margin-left:144px;}
.contact_form input, .contact_form textarea { 
    box-shadow: 0px 0px 3px #C2BAA2, 0 8px 8px #E0DDC5 inset;
    border-radius:2px;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #EDBA08; 
    box-shadow: 0 0 3px #aaa; 
}

/* Button Style */
button.submit {
    background-color: #E4BE54;
    background: -webkit-gradient(linear, left top, left bottom, from(#E4BE54), to(#D7AA3F));
    background: -webkit-linear-gradient(top, #E4BE54, #D7AA3F);
    background: -moz-linear-gradient(top, #E4BE54, #D7AA3F);
    background: -ms-linear-gradient(top, #E4BE54, #D7AA3F);
    background: -o-linear-gradient(top, #E4BE54, #D7AA3F);
    background: linear-gradient(top, #E4BE54, #D7AA3F);
    border: 1px solid #EDBA08;
    border-bottom: 1px solid #BC8213;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #A29980;
    -webkit-box-shadow: 0 1px 0 0 #A29980 inset ;
    -moz-box-shadow: 0 1px 0 0 #A29980 inset;
    -ms-box-shadow: 0 1px 0 0 #A29980 inset;
    -o-box-shadow: 0 1px 0 0 #A29980 inset;
    color: white;
    font-weight: bold;
    padding: 6px 24px;
    text-align: center;
}
button.submit:hover {
    opacity:.85;
    cursor: pointer; 
}
button.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #938970 inset; 
    -webkit-box-shadow:0 0 10px 5px #938970 inset ;
    -moz-box-shadow: 0 0 10px 5px #938970 inset;
    -ms-box-shadow: 0 0 10px 5px #938970 inset;
    -o-box-shadow: 0 0 10px 5px #938970 inset;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
